#iSlider-effect-wrapper{
    height : 80%;
}

@media print, screen and (min-width: 480px) {

    #iSlider-effect-wrapper {
        height: 517.5px;
        width: 375px;
        margin: 0 auto;
        background: url('http://tiankonguse.com/lab/cloudLink/baidupan.php?url=/1915453531/2090766796.png') no-repeat top center;
        background-size: 100%;
        overflow: hidden;
        position: relative;
    }

    .iSlider-effect {
      height: 310.5px;
      width: 225px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      border: 1px solid #000000;
    }

    .iSlider-effect ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      overflow: hidden;
    }
    .iSlider-effect li {
      position: absolute;
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      list-style: none;
    }
    .iSlider-effect ul li img{
      max-width: 100%;
      max-height: 100%;
      margin: 0;
      padding: 0;
    }

    .iSlider-effect div{
      background-color: #ffffff;
      padding: 3px;
    }

    #menu-select {
      margin-top: 10px;
      text-align: center;
    }

    #menu-select span {
      display: inline-block;
      border: 2px solid #777;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
      width: 60px;
      cursor: pointer;
    }

    #animation-effect {
      border: 0;
      width: 204px;
      height: 357px;
      background-color: #000000;
      margin-top: 55px;
    }

    #animation-effect ul li img {
      border: 0;
    }

    #menu-select span:hover {
      background-color: #e74c3c;
    }

    #menu-select span.on {
      background-color: #e74c3c;
    }
}
