.photowall-tips{
    position: absolute;
    padding: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #F70000;
    top: 1px;
}
.photowall-container {
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-url {
    padding: 10px 10px 15px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    transition: 500ms;
}

.img-url:hover {
    tranform: rotate(0) !important;
    -webkit-transform: rotate(0) !important;
    -webkit-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
    box-shadow: 10px 10px 15px #ccc !important;
    z-index: 2700 !important;
    width: 20% !important;
}

.img-inner{
    position: relative;
    top : 0;
    left:0;
}

.img-url{

}
.img-desc{
    position:absolute;
    top : 0;
    left:0;
}

@media screen and (max-width: 750px) {
    .photowall-img {
        padding: 2px 2px 3px !important;
    }
    .photowall-img:hover {
        box-shadow: 2px 2px 3px #ccc !important;
        width: 55% !important;
    }
}

.img-1 {
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg)
}

.img-2 {
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg)
}


.img-3 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.img-4 {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg)
}

.img-5 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.img-6 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg)
}

.img-7 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg)
}


.wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.sub-wrapper {
  overflow: auto;
}
