html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6
}

body {
    -webkit-touch-callout: none;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    background-color: #f3f3f3;
    line-height: inherit
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-size: 16px
}

* {
    margin: 0;
    padding: 0
}

a {
    color: #607fa6;
    text-decoration: none
}

.helloword_inner {
    font-size: 16px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.helloword_area_primary {
    position: relative;
    padding: 20px 15px 15px;
    background-color: #fff
}

.helloword_area_primary:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    top: auto;
    bottom: -2px
}

.helloword_area_extra {
    padding: 0 15px 0
}

.helloword_title {
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 24px
}

.helloword_meta_list {
    margin-bottom: 18px;
    line-height: 20px;
    font-size: 0
}

.helloword_meta_list em {
    font-style: normal
}

.helloword_meta {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 10px;
    font-size: 16px
}

.meta_original_tag {
    display: inline-block;
    vertical-align: middle;
    padding: 1px .5em;
    border: 1px solid #9e9e9e;
    color: #8c8c8c;
    border-radius: 20% 50%;
    -moz-border-radius: 20% 50%;
    -webkit-border-radius: 20% 50%;
    font-size: 15px;
    line-height: 1.1
}

.meta_enterprise_tag img {
    width: 30px;
    height: 30px!important;
    display: block;
    position: relative;
    margin-top: -3px;
    border: 0
}

.helloword_meta_text {
    color: #8c8c8c
}

.helloword_meta_nickname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 9em
}

span.helloword_meta_nickname {
    display: none
}

.helloword_thumb {
    width: 100%;
    margin-bottom: 6px
}

.helloword_content {
    overflow: hidden;
    color: #3e3e3e
}

.helloword_content * {
    max-width: 100%!important;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important
}

.helloword_content p {
    clear: both;
    min-height: 1em;
    white-space: pre-wrap
}

.helloword_content em {
    font-style: italic
}

.helloword_content fieldset {
    min-width: 0
}

.helloword_content .list-paddingleft-2 {
    padding-left: 30px
}

.helloword_content blockquote {
    margin: 0;
    padding-left: 10px;
    border-left: 3px solid #dbdbdb
}

.helloword_meta_list {
    position: relative;
    z-index: 1
}

.helloword_content {
    position: relative
}

.profile_container {
    width: 535px;
    position: absolute;
    top: 100%;
    left: 65px;
    font-size: 14px;
    *margin-top: 10px
}

.profile_inner {
    position: relative;
    padding: 30px 22px 36px 144px;
    background-color: #fff;
    border: 1px solid #d9dadc;
    *zoom:1}

.profile_arrow_wrp {
    position: absolute;
    left: 22px;
    top: -8px
}

.profile_arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: dashed;
    border-color: transparent;
    border-top-width: 0;
    border-bottom-color: #d9dadc;
    border-bottom-style: solid;
    position: absolute;
    top: 0
}

.profile_arrow.arrow_in {
    margin-top: 1px;
    border-bottom-color: #fff
}

.profile_avatar {
    position: absolute;
    width: 100px;
    left: 24px;
    top: 24px;
    height: 100px!important
}

.profile_nickname {
    font-size: 16px;
    font-weight: 400
}

.profile_meta {
    margin-top: 5px;
    overflow: hidden;
    *zoom:1}

.profile_meta_label {
    float: left;
    width: 4em;
    margin-right: 1em
}

.profile_meta_value {
    display: block;
    overflow: hidden;
    *zoom:1;color: #adadad
}

.icon_verify {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 9em;
    overflow: hidden
}



.not_in_mm span.helloword_meta_nickname {
    display: inline-block
}

.not_in_mm a.helloword_meta_nickname {
    display: none
}



img {
    height: auto!important
}

#helloword{
    min-height: 80px;
}


@media(min-device-width: 375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
    .mm_appmsg .helloword_inner,.mm_appmsg .helloword_meta,.mm_appmsg .discuss_list,.mm_appmsg .helloword_extra,.mm_appmsg .title_tips .tips {
        font-size:17px
    }

    .mm_appmsg .meta_original_tag {
        font-size: 15px
    }

    #helloword{
        min-height: 30px;
    }
}

@media(min-device-width: 414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
    .mm_appmsg .helloword_title {
        font-size:25px
    }

    #helloword{
        min-height: 30px;
    }
}


.selectTdClass {
    background-color: #edf5fa!important
}

table.noBorderTable td,table.noBorderTable th,table.noBorderTable caption {
    border: 1px dashed #ddd!important
}

table {
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
    width: 100%!important
}

td,th {
    word-wrap: break-word;
    word-break: break-all;
    padding: 5px 10px;
    border: 1px solid #DDD
}

caption {
    border: 1px dashed #DDD;
    border-bottom: 0;
    padding: 3px;
    text-align: center
}

th {
    border-top: 2px solid #BBB;
    background: #f7f7f7
}

td p {
    margin: 0;
    padding: 0
}




@media screen and (min-width: 0\0) and (min-resolution:72dpi) {
    .helloword_content table {
        table-layout:fixed!important
    }

    .helloword_content td,.helloword_content th {
        width: auto!important
    }
}

.tc {
    text-align: center
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tips_global {
    color: #8c8c8c
}

.rich_split_tips {
    margin: 20px 0;
    min-height: 24px
}

.helloword_tool_tips {
    margin-bottom: 8px
}

.helloword_tool {
    overflow: hidden;
    padding-top: 15px;
    line-height: 32px
}

.helloword_tool .meta_primary {
    float: left;
    margin-right: 10px
}

.helloword_tool .meta_extra {
    float: right;
    margin-left: 10px
}

.helloword_tool .meta_praise {
    margin-right: 0;
    margin-left: 8px
}

.media_tool_meta i {
    vertical-align: 0;
    position: relative;
    top: 1px;
    margin-right: 3px
}

.meta_praise {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    min-width: 3.5em
}

.meta_praise .praise_num {
    display: inline-block;
    vertical-align: top
}




.helloword_extra {
    position: relative
}

.helloword_extra .extra_link {
    display: block
}

.helloword_extra img {
    vertical-align: middle;
    margin-top: -3px
}

.helloword_extra .appmsg_banner {
    width: 100%
}

.helloword_extra .ad_msg_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    background-color: #000;
    filter: alpha(opacity = 20);
    -moz-opacity: .2;
    -khtml-opacity: .2;
    opacity: .2
}

.mpda_bottom_container .helloword_extra {
    padding-bottom: 15px
}

.btn_default.btn_line,.btn_primary.btn_line {
    background-color: #fff;
    color: #04be02;
    border: 1px solid #04be02;
    font-size: 15px
}

.helloword_extra .extra_link {
    position: relative
}

@media(min-device-width: 375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
    .mm_appmsg .helloword_inner,.mm_appmsg .helloword_meta,.mm_appmsg .discuss_list,.mm_appmsg .helloword_extra,.mm_appmsg .title_tips .tips {
        font-size:17px
    }

    .mm_appmsg .meta_original_tag {
        font-size: 15px
    }
}

@media(min-device-width: 414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
    .mm_appmsg .helloword_title {
        font-size:25px
    }
}

@media screen and (max-width: 1023px) {
    .qr_code_pc_outer {
        display:none!important
    }
}

@media screen and (min-width: 1024px) {
    .helloword {
        width:740px;
        margin-left: auto;
        margin-right: auto
    }

    .helloword_inner {
        padding: 20px
    }

    .helloword_meta {
        max-width: none
    }

    a.helloword_meta_nickname {
        display: inline-block!important
    }

    span.helloword_meta_nickname {
        display: none!important
    }

    .helloword_content {
        min-height: 350px
    }

    .helloword_title {
        padding-bottom: 10px;
        margin-bottom: 14px;
        border-bottom: 1px solid #e7e7eb
    }

    body {
        background-color: #fff
    }

    .discuss_container.access {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff
    }

    .discuss_container.editing .frm_textarea_box {
        margin: 0
    }

    .frm_textarea_box {
        position: relative
    }

    .frm_textarea_box:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        border-left: 1px solid #e7e6e4;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5)
    }

    .frm_textarea_box:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        border-left: 1px solid #e7e6e4;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        left: auto;
        right: -2px
    }

    .helloword_meta.nickname {
        max-width: none
    }

    .rich_tips.with_line .tips {
        background-color: #fff
    }
}

@media screen and (min-width: 1025px) {
    body {
        font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif
    }

    .helloword {
        position: relative
    }

    .helloword_inner {
        background-color: #fff;
        padding-bottom: 100px
    }

    .helloword_inner {
        position: relative
    }
}
