/* common */
#mask{left:0;top:0;width:100%;height:100%;display:none;position:fixed;z-index:999;background-color:rgba(0,0,0,.5)}
#mask img{top:0;right:20px;position:absolute}

body{font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;color:#5E5E5E;}
a:hover{text-decoration: none;}
.mb40{margin-bottom: 40px !important;}

.l_index .l_title h1 {
    font-size: 40px;
    width: 56px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 50px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(title.png) 0 0 no-repeat;
    background-size: contain;
}

.l_index_wechat .l_title h1 {font-size: 40px;width: 80px;height: 324px;margin: 0 auto;margin-bottom: 40px;margin-top: 40px;text-indent: -9999px;overflow: hidden;background: url(wechat_title.png) 0 0 no-repeat;background-size:80px 324px}


.spring .l_title h1 {font-size: 40px;width: 44px;height: 218px;margin: 0 auto;margin-bottom: 50px;text-indent: -9999px;overflow: hidden;background: url(spring_title.png) 0 0 no-repeat;background-size:44px 218px;margin-top: 180px;}

.l_index form{margin: 0 40px;}
.l_index form input#date_time{
    border-radius: 50px;
    margin-bottom: 10px;
    box-shadow: inset 0px 8px 4px 0px rgba(0,0,0,0.12);
}
.l_index form .btn{width: 80%;}
.btn-default{border-radius:0; border: 1px dashed #979797;color:#5E5E5E;}

.l_index .form-horizontal .col-sm-12{text-align: center;}

.l_list{background: #FFF url(b1.png) 0 0 no-repeat;background-size:100% 240px}
.l_list2{background-color: #000;background-image: url(b2.png);}

.spring{background: #FFF url(spring_bg.jpg) 0 0 no-repeat;background-size:100% auto}
.spring .buttons a{border-radius:0;}
.spring .buttons a:hover{background:  url(spring_bg.jpg) 0 0 no-repeat;color:#fff;}



.l_list{padding-left: 50px;border-left: 1px solid #ddd;position:absolute; top:0; bottom:0; right:0; left:0;}
.l_list2{border-left: 1px solid rgba(255,255,255,0.1) }

.l_list .media {
    margin-left: -50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.l_list .media h5,.l_list .media h3{margin: 0;}
.l_list .media h3{font-size: 25px;}
.l_list2 .media h3{color:#ccc;}

.l_list .media h5 {margin-bottom: 6px;margin-top: 14px;}
.list_area{margin-left: -22px;font-size: 22px;}
.list_area li{margin-bottom: 7px;padding-left: 20px;background: url(d1.png) left center no-repeat;background-size:13px 13px;}

.l_list2 .list_area li{background-image: url(d2.png);color:#ccc;}

.list_area li.list_first,.l_list2 .list_area li.list_first{margin-bottom: 10px;padding-left: 0;background-image: none;}
.list_area h6{background: #fff;display: inline;margin-bottom: 0;}
.l_list2 .list_area h6{background: #000;display: inline;margin-bottom: 0;}

.buttons{
    padding-top: 10px;
    margin-bottom: 10px;
}
.buttons a.btn{width: 45%;border-radius:60px;color:#5E5E5E;}
.buttons p {margin-bottom: 14px;margin-top: 30px;}
.buttons p a {color:#ccc;font-size: 16px;padding-bottom: 4px;border-bottom: 1px dashed rgba(255,255,255,0.2);}

.l_list2 .buttons a.btn{background: none;}
.l_list2 .buttons a.btn:hover{background: rgba(255,255,255,0.1);}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{ -webkit-appearance: none !important; margin: 0; }
input[type="number"]{-moz-appearance:textfield;}

