@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,img,textarea{margin:0;padding:0;}
body{outline: 0;color:#333;text-align: left;vertical-align:baseline;font:12px/18px Verdana,Tahoma,Arial,sans-serif,"宋体";-webkit-text-size-adjust: none;}
h1,h2,h3,h4,h5{ font-size:12px; font-weight:normal;}
strong{font-weight: bold;}
img{border:none;}
ul,ol,li{list-style: none;}
a{ text-decoration:none;}
a,a:link,a:visited{color:rgb(79,129,189);}
a:active{color:black;}
a:hover{color:white;background: rgb(79,129,189);}
td{vertical-align:top;}

#idHeadTable{width:100%;height:25px;color:#FFFFFF;}
#idHeadTable td{padding:1px 10px 0px 10px;white-space:nowrap;vertical-align:middle;}
#idHeadTable a{color:#FFFFFF;}
#idHeadTable a:hover{color:#EEEAEA;text-decoration:none;}
#idTrademarkTD{background:#000000;font-weight:bold;}
#idSelectTD{background:#005599;letter-spacing:1px;text-align:right;}
#idSelect{width:220px;font-size:10px;}

#content{padding:25px 15px;line-height:19px;}
#idContentTitle{background: rgb(79, 129, 189) none repeat scroll 0 0;color: #fff;margin: 0px auto -10px;padding: 5px; text-align:right;}
#idTitleName{width:254px;font-size:14px;font-weight:bold; text-align:left; float:left;}
.cssNone{color:#C00000;}
.cssDefault{color:#FF3300;}
td.cssVersion{font-size:10px;font-family:tahoma;font-weight:bold;padding:0px 10px;color:#666666;vertical-align:text-top;line-height:16px;}

.cssColumnTitle{background: rgb(149, 179, 215) none repeat scroll 0 0;color: #fff;margin: 15px auto;padding: 5px;}

#idSimpleCode{font-size:11px;padding:11px;font-family:verdana,tahoma;background-color:#EFEFEF;width:80%;}

#idCodeDIV{padding:34px 0px 14px 0px;}
#idCodeDIV input{height:19px;padding:1px 18px 0px 18px;margin:0px 3px;}
#idCodeArea{border:1px solid #CCCCCC;width:80%;padding:12px 24px;line-height:17px;font-size:11px;display:none;margin:20px 0px;}

#idFootnote{margin-top:30px;padding-top:10px;border-top:1px solid #000000;width:100%;}
#idCopyright{font-size:10px;}

.cssCommonTable{background-color:#CCCCCC;font-size:11px;font-family:verdana,arial,tahoma;width:90%;} 
.cssCommonTable td{padding:5px 10px;background-color:#FFFFFF;text-align:left;vertical-align:middle;line-height:16px;}
.cssCommonTable td.cssIETD{font-weight:bold;width:48px;}
.cssCommonTable td.cssHeadTD{font-weight:bold;white-space:nowrap;}

.cssIEA{width:130px;font-family:arial,verdana,tahoma;font-size:11px;}




#left {position: fixed;}

.dtree a,.dtree a:link,.dtree a:visited {color:rgb(64,112,170);text-decoration: none;}
.dtree a:hover {color:white;background: rgb(79,129,189);}
.dtree{ width:201px; border-right:1px double #ccc; padding:5px; margin-right:5px; overflow:auto;}
.dtree h2{ color: #4F81BD;padding:2px 5px 2px 17px; cursor:pointer; position:relative;}
.dtree h2:after{content:"+"; position:absolute; left:5px;top:1px;}
.dtree h2.up,.dtree li a.up{ background-color:#4F81BD; color:#FFF;}
.dtree h2.up:after{content:"-";}
.dtree h2:hover{ background-color:#4F81BD; color:#FFF;}
.dtree ul{ margin:0 0 5px 15px; display:none;}
.dtree ul li{ color:#666;}
.dtree del,.dtree del a{ color:#999!important;}
.dtree #menu > div{ margin:2px 0 0; border-bottom:1px dashed #ccc;}
.dtree sup{ color:#CC3300; font-family:icon;line-height: 8px;}

#contentA2 {margin-left: 218px;}
#contentA2 h1 {overflow:hidden;zoom:1;}
#contentA2 h2 {background: rgb(79,129,189);color:#eee;padding: 2px 5px;}
#contentA2 h3 {color: #666;padding-top: 2px;}
#contentA2 ul {margin:0 0 5px 10px;}
#contentA2 ul ul {margin:0 0 0 10px;}
#contentA2 > div > div:hover{background:rgb(232,238,247);}

#content {max-width: 800px;padding: 0 5px;position: relative;margin-left: 218px;margin-bottom: 10px;}
#contentA2 #fk {color: #900;float: right;}

#query {border: 1px solid #ccc;display: inline-block;margin-right: 3px;padding: 4px;width: 178px;}

#contentA2 #footer {background-color: #4f81bd;clear: both;color: #ffffff;font-family: Verdana;font-size: 12px;margin: 0;padding: 5px 0;text-align: center;}
#contentA2 #footer a{ color:#FFF; text-decoration:underline;}

::-webkit-scrollbar {width: 6px;height:6px;}
::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
::-webkit-scrollbar-thumb{background: #aaa;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #555555}
::-webkit-scrollbar-thumb:horizontal:hover{background: #555555}


@media (max-width:1440px){
	#contentA2 h1{width:1038px;}
	#contentA2 .col-6{ width:auto; height:auto;}
	#contentA2 .col-6 > div{ float:left; width: 206px; margin-right: 2px;}
}
@media (max-width:1268px){
	#contentA2 h1,#contentA2 #footer{width:830px;}
	#contentA2 .col-6,#contentA2 .col-5{ float:none; overflow:visible; width:auto;height:auto;}
	#contentA2 .col-6 > div,#contentA2 .col-5 > div{ float:left; width: 206px; margin-right: 2px;}
}
@media (max-width:1064px){
	#contentA2 h1,#contentA2 #footer{width:622px;}
	#contentA2 .col-6,#contentA2 .col-5,#contentA2 .col-4{ height:auto;}
	#contentA2 .col-6 > div,#contentA2 .col-5 > div,#contentA2 .col-4 > div{ float:left; width: 206px; margin-right: 2px;}
}
@media (max-width:858px){
	#content h1,#contentA2 #footer{width:414px;}
	#content h1 em{ display:none;}
	#content > div{ height:auto;}
	#content > div > div{ float:left; width: 206px; margin-right: 2px;}
}
@media (max-width:650px){
	#contentA2 h1,#contentA2 #footer{width:206px;}
	#contentA2 h1 em{ display:none;}
	#contentA2 > div{ height:auto;}
	#contentA2 > div > div{ float:left; width: 206px; margin-right: 2px;}
}
.llq{ width:720px; font-family:"黑体"; position:absolute; top:0; left:50%; margin-left:-360px; line-height:50px; text-align:center; font-size:30px; background-color:#FEFFC5; color:#7A7A7A;}
.llq a{ color:#FF555D; font-weight:bold;}
.llq a:hover{ background-color:FF555D; color:#FEFFC5;}

.css-content .css-block{
    float: left;
    min-width: 300px;
    min-height: 100px;
}

