

.container {
    margin: auto;
    padding: 0;
    max-width: 80em;
    text-align: center;
}

.container > a {
    margin: 1em 2em;
    border: solid thick;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
}
.container > a > p {
    text-decoration: none;
    width: 18em;
    min-height: 7em;
    padding: 1em 1.4em;
}
.container > a > p strong {
    font-size: 1.5em;
    font-style: normal;
    display: block;
    text-align: center;
}
.container > a > p span {
    white-space: normal;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}

.container > a {
    color: black;
    background: #FFFF99;
    border-color: #FFFF00;
}
.container > a + a {
    color: black;
    background: #99FFFF;
    border-color: #00FFFF;
}
.container > a + a + a {
    color: black;
    background: #FF99CC;
    border-color: #FF0099;
}
.container > a + a + a + a {
    color: black;
    background: #99FF99;
    border-color: #00FF00;
}
.container > a + a + a + a + a {
    color: black;
    background: #FF9999;
    border-color: #FF0000;
}
.container > a + a + a + a + a + a {
    color: black;
    background: #99CCFF;
    border-color: #0099FF;
}
.container > a + a + a + a + a + a + a {
    color: black;
    background: #CC99FF;
    border-color: #9900FF;
}
.container > a + a + a + a + a + a + a + a {
    color: black;
    background: #FFCC99;
    border-color: #FF9900;
}
.container > a + a + a + a + a + a + a + a + a {
    color: black;
    background: #FF99FF;
    border-color: #FF00FF;
}
.container > a + a + a + a + a + a + a + a + a + a {
    color: black;
    background: #99FFCC;
    border-color: #00FF99;
}
.container > a + a + a + a + a + a + a + a + a + a + a {
    color: white;
    background: #999999;
    border-color: #000000;
}
.container > a + a + a + a + a + a + a + a + a + a + a + a {
    color: black;
    background: #CCFF99;
    border-color: #99FF00;
}

.container > a {
    box-shadow: 0 0 5px black;
    transition: box-shadow 0.05s linear;
}

.container > a:hover {
    box-shadow: 0 0 25px black;
}

