button {
	margin-top:20px;
	height:25px;
	width:80px;
	color:blue;
	display: none;
}

#weiqi-frame{
    top: 50px;
    height: 500px;
    position: relative;
}

#weiqi-board {
    border: 0px solid blue;
    position: absolute;
    top: 0px;
    left: 250px;
}
#weiqi-piece {
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: 200;
}

#black{
	display: none;
}

#white{
	display: none;
}
