button {
	margin-top:20px;
	height:25px;
	width:80px;
	color:blue;
	display: none;
}

#weiqi-frame{
	top:50px;
}

#weiqi-board {
	border: 0px solid blue;
	position: absolute;
	top:100px;
    left:250px;
}
#weiqi-piece {
	position: absolute;
	top:100px;
    left:250px;
	z-index: 200;
}
