body {
    overflow: hidden;
    background: #d7d7d7;
}

#tetris {
    width: 720px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px auto;
}

#canvas {
    width: 400px;
    height: 800px;
    background-color: #555;
    position: relative;
    color: #fff;
}

#next_shape {
    position: relative;
    background-color: #000;
    border: 1px solid white;
    width: 220px;
    height: 220px;
}

#info {
    background-color: #000;
    color: #FFFFFF;
    float: right;
    width: 260px;
    height: 780px;
    padding: 10px 20px;
    font-size: 35px;
}

#info .pause span {
    color: red;
}

#info p {
    margin-bottom: 0.2em;
    line-height: 1.3em;
}

.square {
    position: absolute;
    border: 1px solid white;
}

.type0 {
    background-color: #A000F0;
}

.type1 {
    background-color: #00F0F0;
}

.type2 {
    background-color: #F0A000;
}

.type3 {
    background-color: #0000F0;
}

.type4 {
    background-color: #00F000;
}

.type5 {
    background-color: #F00000;
}

.type6 {
    background-color: #F0F000;
}



.right-ad {
    position: fixed;
    right: 10px;
    top: 200px;
}
.left-ad {
    position: fixed;
    left: 10px;
    top: 200px;
}
@media screen and (min-width: 751px) and (max-width: 1400px) {
    
    .right-ad {
        top: 50px;
    }
    .left-ad {
        top: 50px;
    }
    
    #tetris {
        width: 100%;
        border: 1px solid black;
        padding: auto;
        margin: auto;
        height: auto;
        background-color: #8D8D8D;
    }
    #next_shape {
        position: relative;
        border: 1px solid white;
        width: auto;
        height: auto;
    }
    
    #info {
        float: right;
        width: auto;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 0px;
        margin-right: 0px;
        font-size: 15px;
        height: 100%;
    }
    #info p {
        margin-bottom: 0.1em;
    }
}

@media screen and (max-width: 750px) {
    
    .home-menu {
        top: 0px;
        left: 0px;
    }
    
    .right-ad {
        display: none;
    }
    .left-ad {
        display: none;
    }
    
    .ad-page-footer {
        display: none;
        padding: 0px;
        margin: 0px;
    }
    
    #tetris {
        width: 100%;
        border: 1px solid black;
        padding: 0;
        margin: 0;
        height: auto
        background-color: #8D8D8D;
    }
    #next_shape {
        position: relative;
        border: 1px solid white;
        width: auto;
        height: auto;
    }
    
    #info {
        float: right;
        width: auto;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 0px;
        margin-right: 0px;
        font-size: 15px;
        height: 100%;
    }
    #info p {
        margin-bottom: 0.1em;
    }
}


