body {
	overflow: hidden;
	background: #d7d7d7;
}

#tetris {
	width: 720px;
	border: 1px solid black;
	padding: 5px;
	margin: 5px auto;
}

#canvas {
	width: 400px;
	height: 800px;
	background-color: #000;
	position: relative;
	color: #545151;
}

#next_shape {
	position: relative;
	background-color: #000;
	border: 1px solid white;
	width: 220px;
	height: 220px;
}

#info {
	background-color: #000;
	color: #FF0000;
	float: right;
	width: 260px;
	height: 780px;
	padding: 10px 20px;
	font-size: 35px;
}

.square {
	position: absolute;
	border: 1px solid white;
}

.type0 {
	background-color: #A000F0;
}

.type1 {
	background-color: #00F0F0;
}

.type2 {
	background-color: #F0A000;
}

.type3 {
	background-color: #0000F0;
}

.type4 {
	background-color: #00F000;
}

.type5 {
	background-color: #F00000;
}

.type6 {
	background-color: #F0F000;
}

#help{
    display:none;
}

@media screen and (max-width: 750px){

    #help{
        display:block;
    }

    .right-ad{
        display:none;
    }
    .left-ad{
        display:none;
    }
    
    .ad-page-footer{
        display:none;
    }
    
    #tetris {
        width: 100%;
        border: 1px solid black;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    #canvas {
        background-color: #000;
        position: relative;
        color: #fff;
    }
    #next_shape {
        position: relative;
        background-color: #000;
        border: 1px solid white;
        width: auto;
        height: auto;
    }

    #info {
        background-color: #000;
        color: #FF0000;
        float: right;
        width: auto;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 0px;
        margin-right: 0px;
        font-size: 15px;
        height: 100%;
    }
    p {
        margin-bottom: 10px;
    }
}