/* 重置浏览器CSS */
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
body .hide{display:none;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}


/***********default settings**********/
body {font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size:16px;}
a {color:#4A75B5;text-decoration:none;outline:none;}
a:hover {text-decoration:underline}
a.external {padding-right:13px;}
a.external:hover {background-position:right -15px;}
.entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;word-wrap: break-word;}
.entry-title a:hover {text-decoration:none;}
.entry-author, .entry-date {text-align:center;color:#999;margin-bottom:60px;font-size:14px;}
.entry-attr{text-align: center;}

h2 {font-size:22px;font-weight:bold;margin-bottom:25px;}
h3 {font-size:18px;font-weight:bold;margin-bottom:25px;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p {margin-bottom:40px;line-height:1.8em;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word; }
pre {background-color:#000;padding:15px;overflow:auto;margin-bottom:40px;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6;margin-top:-20px; }
h4+pre, h3+pre { margin-top:20px; }
pre code{background-color:transparent;border:none;padding:0;word-wrap: break-word;   word-break: break-all;}
pre ol{margin-left:25px;list-style-type:decimal;}

/************layout style*****************/
#content {width:1260px;margin:90px auto 60px;min-height:400px;height:auto !important;height:400px; }


/****************entry style**************/
.sidenav { width:300px; background:#fff; float:right; padding:20px; margin-bottom:50px; box-shadow:0 1px 4px #ccc; }
.sidenav h2 { font-size:18px; color:#333; margin-bottom:15px; }
.sidenav ul { margin-bottom:50px; }
.sidenav li { margin-bottom:12px; word-break: break-all;}
.sidenav a { color:#555; font-size:14px; }
.entry-page, .entry, .entry-header{margin-bottom:80px;width:940px; float:left; background:#fff; padding:30px; box-shadow:0 2px 6px #ccc; }
.entry-page ul, .entry ul, .entry-header ul{margin-bottom:25px;margin-left:25px;}
.entry-page p+ul, .entry p+ul, .entry-header p+ul{margin-top:-20px;}
.entry-page ul li, .entry ul li, .entry-header ul li{margin-bottom:5px;list-style:disc;line-height:1.8em;}
.entry-page ol, .entry ol, .entry-header ol{margin-bottom:25px;margin-left:25px;}
.entry-page ol li, .entry ol li, .entry-header ol li{margin-bottom:5px;list-style:decimal;line-height:1.1em;}
.entry-page blockquote, .entry blockquote, .entry-header blockquote{margin: 0 0 20px;padding: 10px 20px;margin-left:25px;font-size:14px;font-style:italic}
.entry-page img, .entry img, .entry-header img{max-width:670px;width: 100%;display:block;margin:10px auto;}

.entry-header{
    width: 100%;
    margin-bottom: 10px;
}

.entry-header .cate-bar{
    margin-bottom: 20px;
}

.entry-page{
    width: 1140px;
}

.entry-page .entry-title{
    margin-top: 50px;
}




.index-content .section { margin-left:15%; padding-top:80px; padding-right:15%; ;}

.index-content .artical-list { width:70%; margin:0 auto; margin-top: 50px;}
.index-content .artical-list li { margin-bottom:40px; }
.index-content h2 { font-size:20px; margin-bottom:15px; word-break: break-all;}
.index-content h2 a { color:#444 }
.index-content h2 a:hover { color:#E50053; text-decoration:none; }
.index-content .title-desc {color:#999;font-size:14px;line-height:1.6em;}

.index-content .artical-cate { width:70%; margin:0 auto; width: 70%;margin: 0 auto;margin-bottom: 20px;}
.index-content .artical-cate li { display:inline-block; *float:left; zoom:1; font-size:18px; width:32%; cursor:pointer; }
.index-content .artical-cate li a,
.index-content .artical-cate li a:visited { display:inline-block; zoom:1; color:#000; width:100%; }
.index-content .artical-cate li a:hover { text-decoration:none;color:red; }
.index-content .artical-cate li.on span{ color:red; }

.index-content .cate-bar { height:3px; width:70%; margin:0 auto;margin-bottom:100px; }
.index-content #cateBar { display:inline-block; zoom:1; height:3px; background:red; position:relative; width:0; }

/***************Wiki Style*****************/
.wiki h2{cursor:pointer;}
.wiki ul{margin-left:30px;margin-bottom:20px;list-style:disc}
.wiki ul li{margin-bottom:5px;}
.wiki ul ul{list-style:circle;margin-top:10px;margin-bottom:10px;}

/***************contact style*************/
#disqus_container {font-size:12px;}
#disqus_container a.comment{font-size:14px;}
h3.about {color:#777;margin-top:20px;font-size:22px;margin-bottom:10px}
.about-link a {margin-right:10px;font-weight:bold;font-style:italic;font-size:13px;color:#E50053}


/**************目录导航**************/
#menuIndex {overflow-y: visible;}
#menuIndex a {display:block; padding:2px 0; }
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul {margin-bottom:10px;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#f5f5f5;}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

.home-menu { position:fixed; top:15px; left:15px; z-index:5; font-size:0; }
.home-menu-icon { line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px;  background:#000; }
.home-follow { margin-left:2px; line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px; background:#000;  }
.home-menu-icon:hover,
.home-follow:hover { color:#fff; text-decoration:none; }
.home-contact { color:#fff; margin-top:2px; background:#DBC3FF; padding:8px 0 7px; text-align:center; display:none;}
.home-contact a { width:30px; display:inline-block; }
.home-contact img { width:18px; }

.weixin img{
    width: 300px;
    height: 300px;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 750px){
    body {font-size:14px;}
    #content {width:85%;margin:100px auto 50px; }

    h2{font-size:20px;}
    h3{font-size:16px;}
    embed {display:none;}
    .sidenav{
        display:none;
    }
    .entry-title,.entry-title a {font-size:24px;}
    .entry-author, .entry-date {margin-bottom:40px;}
    .entry img{max-width:90%;}
    .entry pre ol li{margin-bottom:0;line-height:1em;}
    .entry pre code{line-height:1em;font-size:12px;}
    .entry-page, .entry, .entry-header {float:none;width:auto;background:transparent;padding:0;box-shadow:none;}


    .index-content .aside { display:none;position:relative; width:100%; height:300px; max-width:none; }
    .index-content .section { margin-left:0; padding-right:0; }
    .index-content .section ul { width:85%; }
    .index-content .cate-bar { width:85%; }
    .index-content .artical-cate { margin-top:50px; }

}

@media (max-width: 1020px){
    .home-menu { position:absolute; }
    .index-content .cate-bar ,
    .index-content .artical-list,
    .index-content .artical-cate { width:85%; }
    .entry {float:none;width:auto;background:transparent;padding:0;box-shadow:none;}
    #content {width:85%;margin:100px auto 50px; }
}
@media (max-width: 1300px){
    .home-menu { position:absolute; }
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.unit-foot {
    border-top: 5px solid rgba(21, 25, 25, 0.8);
    padding-top: 1.625em;
    position: relative;
}


.unit-inner:before, .unit-inner:after{
    content: "";
    display: table;
}

.unit-foot nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.unit-foot nav ul li {
    display: inline;
}

.unit-foot .gotop {
    margin-bottom: 0;
}

.ad-content-footer, .ad-page-footer{
    text-align: center;
    padding-top: 30px;
}


.sidenav>.adsbygoogle{
    margin-top: 10px;
    display: inline-block; 
    width: 250px; 
    height: 250px;
}


.main-article ul {
    list-style-type: disc;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
    padding-left: 20px;
}

.main-article .article-year {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.main-article .article-year li {
    width: 198px;
    height: 198px;
    float: left;
    border: 1px solid #fff;
    padding: 10px 20px;
    list-style-type: none;
    background: #f6f6f6;
}

.main-article .article-year li span {
    display: block;
    color: #6d6d6d;
    margin-bottom: 20px;
    width: 100%;
}


.main-article .article-year li a {
    color: #000000;
    display: block;
}


.main-article h3 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 36px;
}



