/* 重置浏览器CSS */
html {
    color: #000;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body,button,input,select,textarea {
    font-size: 12px/1.5;
}
input,select,textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: inherit;
}
fieldset,img,a img {
    border: 0;
}
iframe {
    display: block;
}
abbr,acronym {
    border: 0;
    font-variant: normal;
}
del {
    text-decoration: line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 500;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500;
}
q:before,q:after {
    content: '';
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
* {
    line-height: 1.7em;
    text-align: justify;
    text-justify: ideographic;
    font-style: normal;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    zoom:1;}
body .hide {
    display: none;
}
.left,.right {
    display: inline;
}
.left {
    float: left;
}
.right {
    float: right;
}

/***********default settings**********/
body {
    font-family: "微软雅黑","Arial","Helvetica","sans-serif";
    font-size: 16px;
}
a {
    color: #4A75B5;
    text-decoration: none;
    outline: none;
}
a:hover,a:focus,a:active,a:visited {
    text-decoration: none;
}
a.external {
    padding-right: 13px;
}
a.external:hover {
    background-position: right -15px;
}
.entry-title,.entry-title a {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #000;
    text-align: center;
    word-wrap: break-word;
}
.entry-title a:hover {
    text-decoration: none;
}
.entry-author, .entry-date {
    text-align: center;
    color: #999;
    margin-bottom: 60px;
    font-size: 14px;
}
.entry-attr {
    text-align: center;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}
h4,h5,h6 {
    font-weight: bold;
    margin-bottom: 15px;
}
p {
    margin-bottom: 40px;
    line-height: 1.8em;
}
code {
    background: #FFF8F8;
    border: 1px solid #F7E5E5;
    margin: 0 3px;
    padding: 0 2px;
    font-family: "Courier";
    line-height: 14px;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    color: #73485D;
}
pre {
    background-color: #000;
    padding: 15px;
    overflow: auto;
    margin-bottom: 40px;
    font-size: 14px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: #b9bdb6;
    margin-top: -20px;
}
h4+pre, h3+pre {
    margin-top: 20px;
}
pre code {
    background-color: transparent;
    border: none;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}
pre ol {
    margin-left: 25px;
    list-style-type: decimal;
}

/************layout style*****************/
#content {
    width: 1260px;
    margin: 90px auto 10px auto;
    min-height: 400px;
    height: auto !important;
}
.ad-page-footer {
    width: 1260px;
}


/****************entry style**************/
.sidenav-frame {
    width: 300px;
    float: right;
}
.sidenav {
    width: 300px;
    background: #fff;
    float: right;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px #ccc;
}
.sidenav h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}
.sidenav ul {
}
.sidenav li {
    margin-bottom: 0.3em;
    overflow-x: hidden;
    white-space: nowrap;
}
.sidenav a {
    color: #555;
    font-size: 14px;
    white-space: nowrap;
    overflow-x: hidden;
}
.entry-page, .entry, .entry-header {
    margin-bottom: 30px;
    width: 940px;
    float: left;
    background: #fff;
    padding: 30px;
    box-shadow: 0 2px 6px #ccc;
}
.entry-page ul, .entry ul, .entry-header ul {
    margin-bottom: 25px;
    margin-left: 25px;
}
.entry-page p+ul, .entry p+ul, .entry-header p+ul {
    margin-top: -20px;
}
.entry-page ul li, .entry ul li, .entry-header ul li {
    margin-bottom: 5px;
    list-style: disc;
    line-height: 1.8em;
}
.entry-page ol, .entry ol, .entry-header ol {
    margin-bottom: 25px;
    margin-left: 25px;
}
.entry-page ol li, .entry ol li, .entry-header ol li {
    margin-bottom: 5px;
    list-style: decimal;
    line-height: 1.1em;
}
.entry-page blockquote, .entry blockquote, .entry-header blockquote {
    margin: 0 0 20px;
    padding: 10px 20px;
    margin-left: 25px;
    font-size: 14px;
    background-color: #FAFAFA;
}
.entry-page img, .entry img, .entry-header img {
    max-width: 670px;
    /*width: 100%;*/
    display: block;
    margin: 10px auto;
}

.entry-header {
    width: 100%;
    margin-bottom: 10px;
}

.entry-header .cate-bar {
    margin-bottom: 20px;
}

.entry-page {
    width: 1140px;
}

.entry-page .entry-title {
    margin-top: 50px;
}




.index-content .section {
    /* margin-left:15%; */
    /* padding-top:80px; */
    /* padding-right:15%; */
}

.index-content .artical-list {
    /* width:70%; */
    margin: 0 auto;
    margin-top: 50px;
}
.index-content .artical-list li {
    margin-bottom: 40px;
    list-style: none;
    padding-left: 20px;
}
.index-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
    word-break: break-all;
}
.index-content h2 a {
    color: #444
}
.index-content h2 a:hover {
    color: #E50053;
    text-decoration: none;
}
.index-content .title-desc {
    color: #999;
    font-size: 14px;
    line-height: 1.6em;
    padding-left: 15px;
}

.entry .index-content h2, .entry .index-content h3 {
    background-color: inherit;
}

.index-content .artical-cate {
    width: 70%;
    margin: 0 auto;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.index-content .artical-cate li {
    display: inline-block;
    *float: left;
    zoom:1; font-size: 18px;
    width: 32%;
    cursor: pointer;
}
.index-content .artical-cate li a,
.index-content .artical-cate li a:visited {
    display: inline-block;
    zoom:1; color: #000;
    width: 100%;
}
.index-content .artical-cate li a:hover {
    text-decoration: none;
    color: red;
}
.index-content .artical-cate li.on span {
    color: red;
}

.index-content .cate-bar {
    height: 3px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.index-content #cateBar {
    display: inline-block;
    zoom:1; height: 3px;
    background: red;
    position: relative;
    width: 0;
}

.pagination-centered {
    text-align: center;
}

/***************Wiki Style*****************/
.wiki h2 {
    cursor: pointer;
}
.wiki ul {
    margin-left: 30px;
    margin-bottom: 20px;
    list-style: disc
}
.wiki ul li {
    margin-bottom: 5px;
}
.wiki ul ul {
    list-style: circle;
    margin-top: 10px;
    margin-bottom: 10px;
}

/***************contact style*************/
#disqus_container {
    font-size: 12px;
}
#disqus_container a.comment {
    font-size: 14px;
}
h3.about {
    color: #777;
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 10px
}
.about-link a {
    margin-right: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    color: #E50053
}


/**************目录导航**************/
#menuIndex {
    overflow-y: visible;
}
#menuIndex a {
    display: block;
    padding: 2px 0;
}
#menuIndex a:hover {
    text-decoration: none;
}
#menuIndex ul {
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #717171; */
}
#menuIndex ul li {
    font-size: 12px;
    margin-bottom: 5px;
    word-wrap: break-word;
    padding-left: 10px;
}
#menuIndex ul li.on {
    background-color: #f5f5f5;
}
#menuIndex li.h1 {
    font-size: 14px;
    font-weight: normal;
    padding-left: 0;
    margin-bottom: 10px;
}
#menuIndex li.h3 {
    padding-left: 25px;
}

#menuIndex li.h1, #menuIndex li.h3 {
    margin-top: auto;
}

.home-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 5;
    font-size: 0;
}

.home-next {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 5000;
    font-size: 0;
}

.home-link {
    margin-left: 2px;
    line-height: 48px;
    padding: 0 8px;
    display: inline-block;
    color: #fff;
    font-size: 28px;
    background: #000;
}

a.home-link:focus {
    color: #fff;
}

a.home-link:hover {
    color: #22FA14;
}
.home-menu-icon {

}
.home-follow {

}
.home-link-ex {

}
.home-menu-icon:hover,.home-follow:hover {
    color: #fff;
    text-decoration: none;
}
.home-contact {
    color: #fff;
    margin-top: 2px;
    background: #FFFFFF;
    padding: 8px 0 7px;
    text-align: center;
    display: none;
}
.home-contact a {
    width: 30px;
    display: inline-block;
    font-size: 10px;
}
.home-contact img {
    width: 18px;
}

.home-contact .fa-stack {
    color: #797979;
}
.home-contact .fa-stack:hover,.home-contact .fa-stack:focus {
    color: #000000;
}

.weixin img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
    body {
        font-size:14px;
    }
    #content {
        width: 85%;
        margin: 100px auto 10px auto;
    }
    .ad-page-footer {
        width: 85%;
    }
    
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    embed {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .sidenav-frame {
        display: none;
    }
    .entry-title,.entry-title a {
        font-size: 24px;
    }
    .entry-author, .entry-date {
        margin-bottom: 40px;
    }
    .entry img {
        max-width: 90%;
    }
    .entry pre ol li {
        margin-bottom: 0;
        line-height: 1em;
    }
    .entry pre code {
        line-height: 1em;
        font-size: 12px;
    }
    .entry-page, .entry, .entry-header {
        float: none;
        width: auto;
        background: transparent;
        padding: 0;
        box-shadow: none;
    }
    
    
    .index-content .aside {
        display: none;
        position: relative;
        width: 100%;
        height: 300px;
        max-width: none;
    }
    .index-content .section {
        margin-left: 0;
        padding-right: 0;
    }
    .index-content .section ul {
        width: 96%;
    }
    .index-content .cate-bar {
        width: 85%;
    }
    .index-content .artical-cate {
        margin-top: 50px;
    }
    .index-content .artical-list li {
        padding-left: 5px;
    }
    
    .entry .index-content h2, .entry .index-content h3 {
        padding-left: 1px;
    }
    .index-content .title-desc {
        padding-left: 1px;
    }
    
    .entry-page blockquote, .entry blockquote, .entry-header blockquote {
        padding-left: 1%;
    }
}

@media (max-width: 1020px) {
    .home-menu, .home-next {
        position:absolute;
    }
    .index-content .cate-bar ,
    .index-content .artical-list,
    .index-content .artical-cate {
        width: 85%;
    }
    .entry {
        float: none;
        width: auto;
        background: transparent;
        padding: 0;
        box-shadow: none;
    }
    #content {
        width: 90%;
        margin: 100px auto 10px auto;
    }
    .ad-page-footer {
        width: 85%;
    }
}
@media (max-width: 1300px) {
    .home-menu {
        position:absolute;
    }
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.unit-foot {
    border-top: 5px solid rgba(21, 25, 25, 0.8);
    padding-top: 1.625em;
    position: relative;
}


.unit-inner:before, .unit-inner:after {
    content: "";
    display: table;
}

.unit-foot nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.unit-foot nav ul li {
    display: inline;
}

.unit-foot .gotop {
    margin-bottom: 0;
}

.ad-content-footer, .ad-page-footer {
    text-align: center;
    padding-top: 30px;
}

.ad-page-footer {
    padding-top: 5px;
    background: #fff;
    margin: 5px auto 5px auto;
}

.sidenav>.adsbygoogle {
    margin-top: 10px;
    display: inline-block;
    width: 250px;
    height: 250px;
}


.main-article ul {
    list-style-type: disc;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
    padding-left: 20px;
}

.main-article .article-year {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.main-article .article-year li {
    width: 198px;
    height: 198px;
    float: left;
    border: 1px solid #fff;
    padding: 10px 20px;
    list-style-type: none;
    background: #f6f6f6;
}

.main-article .article-year li span {
    display: block;
    color: #6d6d6d;
    margin-bottom: 20px;
    width: 100%;
}


.main-article .article-year li a {
    color: #000000;
    display: block;
}


.main-article h3 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 36px;
}

.background {
    color: rgb(228, 228, 228);
}

.red {
    color : rgb(255, 0, 0);
}


#menuIndex {
    z-index: 1;
}


.sidebar-visible .sidebar.left {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -ms-transurm: translateX(0%);
}
@media screen and (max-width: 550px) {
    .sidebar.left {
        width: 55%;
    }
}
.sidebar.left {
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    left: 0;
    box-shadow: 1px 0 15px rgba(0,0,0,.5);
    background-color: #000000;
    width: 25%;
    max-width: 30em;
    transition: transform .35s ease;
    overflow-y: auto;
    position: fixed;
    z-index: 5;
    top: 0;
    font-size: .95em;
    height: 100%;
}

.sidebar-top {
    top: 0;
    border-color: #00B0CC;
    background-color: #ECF0F1;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #00B0CC;
    margin-bottom: 7.5%;
    cursor: pointer;
}


.sidebar-close {
    padding: 2.5%;
    transition: opacity .25s ease-out;
    display: block;
    box-sizing: content-box;
    height: 1.4em;
    border: none;
    opacity: 1;
}

.sidebar-close img, .sidebar-close svg {
    width: 1.4em;
    height: 1.4em;
}

.menu-icon, .close-icon, .social-icon-fill {
    fill: #4C4C4C;
}
.close-icon:hover, .social-icon-fill:hover {
    fill: #77FF61;
}
.sidebar-content {
    margin: 0 5%;
}

.widget {
    margin: 0 0 1.5em;
}

.search-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 27.5em;
    margin: 0 auto 2.5%;
}


.search-form label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.screen-reader-text {
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
}

.search-field,.search-submit {
    -webkit-transition: border .25s ease-out,color .25s ease-out,background .25s ease-out;
    transition: border .25s ease-out,color .25s ease-out,background .25s ease-out;
    color: silver;
    height: 2.15em;
    padding: .3em;
    border: 1px solid silver;
    border-radius: 3px;
    background: 0 0;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font-size: 100%;
}


.search-field,.search-submit {
    color: #00B0CC;
    -webkit-transition: border .25s ease-out,color .25s ease-out;
    transition: border .25s ease-out,color .25s ease-out;
    height: 2.15em;
    padding: 0 .7em;
    border: 1px solid silver;
    border-radius: 3px;
    background-color: rgb(219, 219, 219);
    cursor: auto;
    -webkit-appearance: button;
    font-weight: 300;
    line-height: 1.5;
    vertical-align: middle;
    margin: 0;
    margin-left: .25em;
    padding-top: 4px;
}

.search-field:hover,.search-submit:hover {
    background-color: rgb(255, 255, 255);
}

.entry h2, .entry h3 {
    background-color: rgba(248, 244, 244, 0.49);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.list-of-categories a {
    color: #000000;
}

.list-articles-category span {
    font-size: .7em;
    vertical-align: super;
    padding-left: 3px;
}

.list-of-categories:hover a {
    color: #FFF;
}

.entry .list-of-categories:hover {
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
}

ul.list-articles-category li time {
    color: #8F8F8F;
    display: inline-block;
    font: .9em 'PT Sans','Helvetica Neue',Arial,Sans-Serif;
    width: 7em;
}

ul.list-articles-category {
    list-style: none outside none;
    margin: 0 0 0 5px;
}

ul.list-articles-category li {
    list-style: none;
}


.entry-tag .form-search {
    padding: 20px;
    text-align: center;
}

.entry-tag .filterinput {
    height: 30px;
}

.entry-tag a {
    color: #000000;
}

ul.list-of-tags li {
    list-style: none;
}

.list-of-tags {
    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-Serif;
    list-style: none;
    margin: 0;
    overflow: hidden;
}

.list-of-tags a {
    color: #000000;
}

.list-of-tags a:hover {
    background: #000000;
    color: #FFFFFF;
}

.list-of-tags li {
    float: left;
    line-height: 28px;
    margin: 0;
}

.list-of-tags a {
    background: #EEE;
    border-radius: 3px;
    color: #222;
    margin: 2px;
    padding: 3px 6px;
    text-decoration: none;
}

.list-of-tags a span {
    font-size: .8em;
    vertical-align: super;
    padding-left: 2px;
}

.aboutme-group ul.list-articles-category li {
    border-bottom: 1px solid #e5e5e5;
    border-bottom-style: dotted;
    list-style: none;
    padding: 10px;
}


.aboutme-group ul.list-articles-category li:hover {
    background-color: rgb(60, 60, 60);
    color: rgb(197, 197, 197);
}


.aboutme-group.accordion-group {
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid #e5e5e5;
}


.sliding-menu-button {
    position: fixed;
    top: 4.618em;
    right: 1.618em;
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    outline: 0;
    padding: 0;
    border: 2.5px solid transparent;
    cursor: pointer;
    z-index: 5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: right 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: right 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
}

@media screen and (min-width: 48em) {
    .sliding-menu-button {
        -webkit-transform:0;
        -moz-transform: 0;
        -ms-transform: 0;
        -o-transform: 0;
        transform: 0
    }
}

.sliding-menu-button {
    -webkit-transition: right 500ms ease-in-out;
    -moz-transition: right 500ms ease-in-out;
    transition: right 500ms ease-in-out
}

@media screen and (min-width: 48em) {
    .sliding-menu-button {
        left:90%
    }
}

.sliding-menu-content {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
    visibility: hidden;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(175, 169, 66);
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

@media screen and (min-width: 48em) {
    .sliding-menu-content {
        text-align:left
    }
}

@media screen and (min-width: 48em) {
    .sliding-menu-content {
        height:100%;
        width: 87%
    }
}

.sliding-menu-content.is-visible {
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out
}

.menu-screen {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    text-align: center;
}

.menu-screen.is-visible {
    opacity: .9;
    visibility: visible;
}

.menulines {
    display: inline-block;
    width: 30px;
    height: 4.28571px;
    background: #fff;
    border-radius: 2.14286px;
    transition: 0.3s;
    position: relative;
    text-align: center;
}

.menulines:before,.menulines:after {
    display: inline-block;
    width: 30px;
    height: 4.28571px;
    background: #fff;
    border-radius: 2.14286px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 2.14286px center;
    transform-origin: 2.14286px center;
}

.menulines:before {
    top: 7.5px;
}

.menulines:after {
    top: -7.5px;
}

.menulines-button:hover .menulines:before {
    top: 8.57143px;
}

.menulines-button:hover .menulines:after {
    top: -8.57143px;
}

.menulines-button.arrow .menulines:before,.menulines-button.arrow .menulines:after {
    top: 0;
    width: 16.66667px;
}

.menulines-button.arrow .menulines:before {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
}

.menulines-button.arrow .menulines:after {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    transform: rotate3d(0, 0, 1, -40deg);
}

.menulines-button.arrow-up {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.menulines-button.minus .lines:before,.menulines-button.minus .lines:after {
    -webkit-transform: none;
    transform: none;
    top: 0;
    width: 30px;
}

.menulines-button.x .menulines {
    background: transparent;
}

.menulines-button.x .menulines:before,.menulines-button.x .menulines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 30px;
}

.menulines-button.x .menulines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.menulines-button.x .menulines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.menulines-button.x2 .menulines {
    transition: background .3s .5s ease;
}

.menulines-button.x2 .menulines:before,.menulines-button.x2 .menulines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease;
}

.menulines-button.x2 .menulines {
    transition: background .3s 0s ease;
    background: transparent;
}

.menulines-button.x2 .menulines:before,.menulines-button.x2 .menulines:after {
    transition: top .3s ease, -webkit-transform .3s .5s ease;
    transition: top .3s ease, transform .3s .5s ease;
    top: 0;
    width: 30px;
}

.menulines-button.x2 .menulines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.menulines-button.x2 .menulines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}


img.weixin-zhifu, img.taobao-zhifu {
    display: inline-block;
    border: 1px solid #717171;
    border-radius: .7em;
    margin: 0;
    padding: 0;
}

img.weixin-zhifu {
    width: 43%;
}


img.taobao-zhifu {
    width: 47%;
}



.tag-box a {
    padding: 4px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
}

.tag-box a span {
    vertical-align: super;
    font-size: .8em;
}

.tag-box a:hover {
    background-color: #e5e5e5;
}

.tag-box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

ul.inline {
    list-style: none;
    margin: 0;
    overflow: hidden;
    margin-bottom: 0;
    margin-left: 0;
}

ul.inline li {
    float: left;
    position: relative;
    margin-left: 10px;
    line-height: 30px;
    list-style: none;
}


.list-of-categories a span {
    vertical-align: super;
    font-size: .8em;
}

.accordion-group {
    margin-bottom: 2em;
}

.accordion-desc {
    color: #999;
    font-size: 14px;
    line-height: 1.6em;
    padding-left: 15px;
}


ins{
    text-align: center;
}


#sidebar-left{
    float: left;
    width: 300px;
    height: 100%;
    background-color: black;
}

#sidebar-avatar {
    display: block;
    width: 128px;
    margin: 4vh auto 1.5vh;
    border: 4px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    overflow: hidden;
}


#sidebar-avatar-img {
    display: block;
    width: 100%;
}

#sidebar-social {
    padding: 0 10px 3vh;
    text-align: center;
}
.sidebar-social-icon {
    display: inline-block;
    margin: 0 1px;
    font-size: 22px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    transition: color 0.15s linear;
}



.sidebar-social-icon:before, #search-box:before, .toc-link:before, .post-meta-span.date:before, .post-meta-span.tag:before, .post-meta-span.comment:before, .post blockquote:before, .post-share-icon:before, #menu-icons {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#sidebar-tags {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.sidebar-tag {
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: color 0.15s linear, box-shadow 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    font-weight: bold;
}   
.sidebar-tag.active {
    color: #000000;
    box-shadow: inset 300px 0 0 rgb(255, 255, 255);
}
#sidebar-right {
    float: left;
    width: calc(100% - 300px);
    height: 100%;
}

#search-box {
    position: relative;
    height: 64px;
    margin-bottom: 1px;
}



#search-box .fa-stack{
    position: absolute;
    top: 0;
    right: 15px;
    z-index: -1;
    font-size: 24px;
    color: rgb(175, 169, 66);
}

#search-input {
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 15px;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#toc {
    height: calc(100% - 65px);
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.toc-link:visited:before {
    color: #55606F;
}

.toc-link .fa-external-link:before {
    position: absolute;
    top: 2px;
    left: 12px;
    z-index: 1;
    font-size: 18px;
    color: #309E85;
    transition: transform 0.15s linear;
}

.toc-link {
    position: relative;
    float: left;
    clear: both;
    margin: 5px 0;
    padding: 0 15px 0 32px;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #55606F;
    overflow: hidden;
    outline: none;
}

.home-menu .home-link {
    background: rgba(0, 0, 0, 0.43);
}

.home-next .home-link{
    background: rgba(179, 113, 113, 0.36);
}



/***** sidebar for scroll top-bottom ******/
.scroll-top-down {
    width: 75px;
    position: fixed;
    top: 40%;
    right: -5px;
    text-align: center;
    z-index: 2222;
}
.scroll-top-down div {
    margin-bottom: 5px;
    color: black;
}
.scroll-top-down i {
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    #sidebar-left{
        display: none;
        width : 0;
    }
    
    #sidebar-right{
        width : 100%;
    }

    .scroll-top-down {
        right: -35px;
    }
    .scroll-top-down div {
        color: rgba(0, 0, 0, 0.4);
    }
    .home-menu {
        top: 5px;
        left: 5px;
    }
    .home-next{
        top: 5px;
        right: 5px;
    }
    
    .home-link {
        margin-left: 1px;
        line-height: 30px;
        padding: 0 5px;
        font-size: 22px;
    }
    .home-contact {
        margin-top: 1px;
        padding: 5px 0 4px;
    }
    .home-contact a {
        width: 28px;
        font-size: 8px;
    }
}


.map-own .accordion-group {
    box-shadow: 0 0 5px black;
    transition: box-shadow 0.05s linear;
    color: black;
    background: #FFFF99;
    border-color: #FFFF00;
    border: solid thick;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    width: 18em;
    min-height: 7em;
    padding: 1em 1.4em;
    margin-bottom: 40px;
    line-height: 1.8em;
    text-decoration: none;
}
.map-own  a {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    font-style: normal;
    display: block;
    text-align: center;
}
.map-own .accordion-desc {
    font-size: 14px;
    line-height: 1.6em;
    white-space: normal;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.map-own .accordion-group {
    color: black;
}
.map-own > .accordion-group:nth-child(12n+0) {
    background: #FFFF99;
    border-color: #FFFF00;
}
.map-own > .accordion-group:nth-child(12n+1){
    background: #99FFFF;
    border-color: #00FFFF;
}
.map-own > .accordion-group:nth-child(12n+2) {
    background: #FF99CC;
    border-color: #FF0099;
}
.map-own > .accordion-group:nth-child(12n+3) {
    background: #99FF99;
    border-color: #00FF00;
}
.map-own > .accordion-group:nth-child(12n+4) {
    background: #FF9999;
    border-color: #FF0000;
}
.map-own > .accordion-group:nth-child(12n+5) {
    background: #99CCFF;
    border-color: #0099FF;
}
.map-own > .accordion-group:nth-child(12n+6) {
    background: #CC99FF;
    border-color: #9900FF;
}
.map-own > .accordion-group:nth-child(12n+7) {
    background: #FFCC99;
    border-color: #FF9900;
}
.map-own > .accordion-group:nth-child(12n+8) {
    background: #FF99FF;
    border-color: #FF00FF;
}
.map-own > .accordion-group:nth-child(12n+9) {
    background: #99FFCC;
    border-color: #00FF99;
}
.map-own > .accordion-group:nth-child(12n+10) {
    background: #999999;
    border-color: #000000;
}
.map-own > .accordion-group:nth-child(12n+11) {
    background: #CCFF99;
    border-color: #99FF00;
}

.wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.sub-wrapper {
  overflow: auto;
}
