.moonback {
    width: 600px;
    height: 600px;
    background-color: #000;
    margin: 0 auto;
    position: relative;
}

.moonback::before {
    content: ",";
    display: block;
    position: absolute;
    left: 200px;
    top: 100px;
    width: 200px;
    height: 200px;
    background-color: #ff0;
    border-radius: 100px;
}

.moonback::after {
    content: " ";
    display: block;
    position: absolute;
    left: 26px;
    top: 0px;
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 100px;
    -webkit-animation: 8s dog linear infinite;
    -moz-animation: 8s dog linear infinite;
    animation: 8s dog linear infinite;
    -webkit-animation-fill-mode: forwards
    -moz-animation-fill-mode: forwards
    animation-fill-mode: forwards
}

@-webkit-keyframes dog {
    0% {
        left: 27px;
        top: 0px;
    }

    100% {
        left: 399px;
        top: 216px;
    }
}

@-moz-keyframes dog {
    0% {
        left: 27px;
        top: 0px;
    }

    100% {
        left: 399px;
        top: 216px;
    }
}

@keyframes dog {
    0% {
        left: 27px;
        top: 0px;
    }

    100% {
        left: 399px;
        top: 216px;
    }
}

.star {
    position: absolute;
}

.star::before {
    content: "★";
    display: block;
    position: absolute;
    left: 10px;
    top: 20px;
    width: auto;
    height: auto;
    color: #fff;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation: 1s starlight linear infinite;
    -moz-animation: 1s starlight linear infinite;
    animation: 1s starlight linear infinite;
    -webkit-animation-fill-mode: forwards
    -moz-animation-fill-mode: forwards
    animation-fill-mode: forwards
}

.star::after {
    content: "★";
    display: block;
    position: absolute;
    left: 40px;
    top: 120px;
    width: auto;
    height: auto;
    color: #fff;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation: 2s starlight linear infinite;
    -moz-animation: 2s starlight linear infinite;
    animation: 2s starlight linear infinite;
}

@-webkit-keyframes starlight {
    0% {
        -webkit-transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(0.1);
    }
}

@-moz-keyframes starlight {
    0% {
        -moz-transform: scale(0.5);
    }

    100% {
        -moz-transform: scale(0.1);
    }
}

@keyframes starlight {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0.1);
    }
}