<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta name="author" content="tiankonguse" />
        <meta name="renderer" content="webkit">
        <meta name="description" content="tiankonguse's Blog" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/bootstrapv3.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
        <link rel="shortcut icon" href="http://tiankonguse.com/common/img/logo.ico" type="image/x-icon" />
        <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
        <script src="/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/javascripts/bootstrapv3.js" type="text/javascript"></script>
        <script src="/javascripts/bootstrap-paginator.js" type="text/javascript"></script>
    </head>
    <body>

        <div class="home-menu">
            <div class="home-icon-con">
                <a class="home-menu-icon" href="/">tiankonguse</a>
                <a class="home-follow" href="#" title="Contact Me">+</a>
            </div>
            <div class="home-contact">
                <a href="http://weibo.com/tiankonguse/" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
                <a href="http://www.douban.com/people/tiankonguse/" target="_blank" style="text-align:center;"><img src="http://www.douban.com/favicon.ico" alt="" width="22"/></a>
            </div>
        </div>
        
        {{ content }}
        
    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').slideUp(100);
                }else{
                    $('.home-contact').slideDown(100);
                }
            });
        })
        function loadPage(nowPage, allPage, $pageDom, url){
            var first = !!nowPage;
            if (allPage > 1) {
                $pageDom.html("");
                var op = {
                    bootstrapMajorVersion : 3,
                    currentPage : nowPage,
                    totalPages : allPage,
                    onPageChanged : function(e, oldPage, newPage) {
                        if(first == true){
                            first = false;
                            return;
                        }
                        if(newPage > 1){
                            window.location.href=url+"page"+newPage;
                        }else{
                            window.location.href=url;
                        }
                    },
                    useBootstrapTooltip : true,
                    tooltipTitles : function(type, page, current) {
                        switch (type) {
                            case "first" :
                                return "第一页";
                            case "prev" :
                                return "上一页";
                            case "next" :
                                return "下一页";
                            case "last" :
                                return "最后一页";
                            case "page" :
                                return "第" + page + "页";
                        }
                    }
                };
                $pageDom.bootstrapPaginator(op);
            } 
        }
    </script>        
        
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer -->

<div style="text-align:center;" >

<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"  data-ad-client="ca-pub-2326969899478823" data-ad-slot="5074793995"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </body>
</html>
