<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        {{ content }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer -->

下面是广告：
<div style="text-align:center;" >

<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"  data-ad-client="ca-pub-2326969899478823" data-ad-slot="5074793995"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </body>
</html>
