<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-bgrepeatround no-bgrepeatspace display-table boxsizing pointerevents no-overflowscrolling cubicbezierrange bgsizecover details no-createelement-attrs progressbar meter customprotocolhandler no-userselect no-emoji file devicemotion deviceorientation no-csshyphens no-workingcsshyphens no-softhyphens no-softhyphensfind no-framed sharedworkers no-webp datauri">
    <head>
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta name="author" content="tiankonguse" />
        <meta name="renderer" content="webkit">
        <meta name="description" content="tiankonguse's Blog" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="/stylesheets/bootstrapv3.min.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/default.min.css" type="text/css" />
        <link rel="shortcut icon" href="http://tiankonguse.com/common/img/logo.ico" type="image/x-icon" />
        <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
        <script src="/javascripts/jquery-1.7.1.min.min.js" type="text/javascript"></script>
        <script src="/javascripts/bootstrapv3.min.js" type="text/javascript" ></script>
        <script src="/javascripts/bootstrap-paginator.min.js" type="text/javascript"></script>
        <script src="/javascripts/main.js" type="text/javascript"></script>
    </head>
    <body>


        
        {{ content }}
        
        <div class="home-menu">
            <div class="home-icon-con">
                <a class="home-menu-icon" href="/">tiankonguse</a>
                <a class="home-follow" href="#" title="Contact Me">+</a>
            </div>
            <div class="home-contact">
            </div>
        </div>
<!-- footer -->

<div class="ad-page-footer" ></div>


<script>
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffbbb9e62b837218bf39d4fe819e04e04' type='text/javascript' async %3E%3C/script%3E"));
</script>
    </body>
</html>
