---
layout: default
isPost: false
comment: true
updateData: 9:32 2014/11/25
---

<div id="content" class="clearfix">
    <div class="entry-header">
        <div class="index-content">
            {% include nav.md %}
        </div>
    </div>
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-attr">作者: <span  class="entry-author">{{ site.author }}</span> | 更新日期: <time  class="entry-date">{{ page.updateData|date:"%Y-%m-%d %H:%M:%S" }}</time></p>
        <div style="text-align: center;text-align: center;margin-top: 200px;margin-bottom: 200px;">
        {{ content }}
        </div>
        <div id="disqus_container">
            <a href="#" class="comment" onclick="return false;">点击查看评论</a>
            <script type="text/javascript">var disqus_shortname = 'tiankonguse-record';</script>
            <div id="disqus_thread"></div>
        </div>
    </div>
    
    <div class="sidenav-frame">
        {% include sidenav.md %}
    </div>
</div>
<script>
    tk.ad.isLoadGoogleJs = true;
    var urlList = [];
    urlList.push(/^(.*\/blog\/\d{4}\/\d{2}\/\d{2}\/[a-zA-Z0-9_-]*)\/(.*)$/);
    urlList.push(/^(.*\/categories)\/(.*)$/);
    urlList.push(/^(.*\/tags)\/(.*)$/);
    
    
    tk.each(urlList, function(testUrl){
        if(testUrl.test(location.href)){
            location.href = location.href.replace(testUrl, "$1.html$2");
            return true;
        }
    });
</script>