---
layout: default
---

{% if page.previous %}
    <link rel="prev" title="{{ page.previous.title }}" href="{{ page.previous.url }}">
{% endif %}

{% if page.next %}
    <link rel="next" title="{{ page.next.title }}" href="{{ page.next.url }}">
{% endif %}

<link rel="stylesheet" href="/javascripts/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        <p><blockquote>{{page.description}}</blockquote></p>
        {{ content }}

        <div class="ad-content-footer"></div>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <footer class="unit-foot">
            <div class="unit-inner unit-foot-inner">
                <nav class="pagination">
                    <ul>
                        {% if page.previous %}
                        <li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
                        {% endif %}
                        {% if page.previous and page.next %}
                        <li class="pipe"> | </li>
                        {% endif %}
                        {% if page.next %}
                        <li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <p class="gotop">
                    <a href="#">Back to Top</a>
                </p>
            </div>
        </footer>

        <div id="disqus_container">
            <a href="#" class="comment" onclick="return false;">点击查看评论</a>
            <div id="disqus_thread"></div>
        </div>
    </div>
    <div class="sidenav">
        <h2>网站公告</h2>
        <div>
            1.另一个博客地址:<a href="http://tiankonguse.com">tiankonguse</a><br>
            2.有偿接受你的任何技术问题<br>
            3.有偿接受讲解任何算法<br>
            4.接受租用广告位
        </div>
    </div>
    
    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.related_posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <h2><a href="/about"><span>About</span></a></h2>
        <h2><a href="/resources"><span>Resources</span></a></h2>
        
        <!-- 250 X 250 side -->
        <ins class="adsbygoogle"
             data-ad-client="ca-pub-2326969899478823"
             data-ad-slot="8884906795"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div id="menuIndex" class="sidenav"></div>
    <div id="menuIndex-next" class="sidenav">
        <!-- 250 X 250 side -->
        <ins class="adsbygoogle"
             data-ad-client="ca-pub-2326969899478823"
             data-ad-slot="8884906795"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<script src="/javascripts/post.js" type="text/javascript"></script>
