---
layout: default
isPost: true
comment: true
---

{% assign publishData =  page.date|date:"%Y-%m-%d %H:%M:%S" %}
{% if page.updateData %}
{% assign lastData =  page.updateData|date:"%Y-%m-%d %H:%M:%S" %}
{% else %}
{% assign lastData =  page.date|date:"%Y-%m-%d %H:%M:%S" %}
{% endif %}
{% if page.previous %}
    <link rel="prev" title="{{ page.previous.title }}" href="{{ page.previous.url }}">
{% endif %}
{% if page.next %}
    <link rel="next" title="{{ page.next.title }}" href="{{ page.next.url }}">
{% endif %}
<meta property="og:type" content="blog"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:author" content="{{ site.author }}"/>
<meta property="og:release_date" content="{{ lastData }}"/>
<link rel="stylesheet" href="/javascripts/prettify/prettify.min.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>
<div id="content" class="clearfix">
    <div class="entry-header">
        <div class="index-content">
            <ul class="artical-cate">
                {% for nav in site.nav %}
                    <li style="{{ nav.style }}"><a href="{{ nav.url }}"><span>{{ nav.text }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-attr">作者: <span  class="entry-author">{{ site.author }}</span> | 更新日期: <time  class="entry-date">{{ lastData }}</time></p>
        <p><blockquote>{{ page.description }}</blockquote></p>
        {{ content }}
        <div class="ad-content-footer"></div>
        <footer class="unit-foot">
            <div class="footer-post-info clearfix">
                <ul>
                    <li>
                        作者「<a href="/about.html" rel="author">tiankonguse</a>」于 
                        <time>{{ lastData }}</time> 更新本文」于 
                        <time>{{ publishData }}</time> 发布本文</li>
                    <li>文章声明：自由转载-非商用-非衍生-保持署名  |  <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank" rel="nofollow">BY-NC-SA</a></li>
                    <li>如果你觉得这篇文章对你有帮助，欢迎自由付费：</li>
                </ul>
                <a href="https://shenghuo.alipay.com/send/payment/submit.htm?payAmount=30&amp;optEmail=804345178%40qq.com&amp;title=donate%20to%20tiankonguse&amp;isSend=true&amp;smsNo=13944097701" target="_blank"><img alt="" src="http://tiankonguse.com/common/img/donate.jpg" style="width: 200px;"></a>
            </div>
            <div class="unit-inner unit-foot-inner">
                <nav class="pagination">
                    <ul>
                        {% if page.previous %}
                        <li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
                        {% endif %}
                        {% if page.previous and page.next %}
                        <li class="pipe"> | </li>
                        {% endif %}
                        {% if page.next %}
                        <li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <p class="gotop">
                    <a href="#">Back to Top</a>
                </p>
            </div>
        </footer>

        <div id="disqus_container">
            <a href="#" class="comment" onclick="return false;">点击查看评论</a>
            <script type="text/javascript">var disqus_shortname = 'tiankonguse-record';</script>
            <div id="disqus_thread"></div>
        </div>
    </div>
    <div class="sidenav">
        <h2>网站公告</h2>
        <div>
            1.另一个博客地址:<a href="http://tiankonguse.com">tiankonguse</a><br>
            2.接受你的任何技术问题<br>
            3.接受讲解任何算法<br>
        </div>
    </div>
    
    <div class="sidenav">
        <h2>孩子的奶粉钱</h2>
        <div>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:250px;height:250px"
                 data-ad-client="ca-pub-2326969899478823"
                 data-ad-slot="8884906795"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    
    <div class="sidenav">
        <h2>猜你喜欢</h2>
        <ul class="artical-list">
        {% for post in site.related_posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <h2><a href="/about"><span>About</span></a></h2>

        <h2><a href="/resources"><span>Resources</span></a></h2>
        <ul class="artical-list">
            <li><a href="/project/tetris/">俄罗斯方块游戏</a></li>
            <li><a href="/project/format/">格式化/压缩代码</a></li>
            <li><a href="/project/moondog/">纯CSS实现月食</a></li>
        </ul>
    </div> 

    <div id="menuIndex" class="sidenav"></div>
    <div id="menuIndex-next" class="sidenav">
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-2326969899478823"
             data-ad-slot="8884906795"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
<script>
    tk.ad.isLoadGoogleJs = true;
</script>

<script src="/javascripts/post.min.js" type="text/javascript"></script>
