---
layout: doc
isPost: false
comment: true
---

<!-- text-ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2326969899478823"
     data-ad-slot="2004476390"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<link type="text/css" rel="stylesheet" href="/doc/redis/pyramid.css"  />

<div class="body">
{{ content }}
</div>

<div id="disqus_container">
    <a href="#" class="comment" onclick="return false;">点击查看评论</a>
    <script type="text/javascript">var disqus_shortname = 'tiankonguse-record';</script>
    <div id="disqus_thread"></div>
</div>

<script>
    jQuery(document).ready(function(){
        tk.ad.loadGoogleJs(true);
        $(".ad-page-footer").show();
	    tk.ad.showPageFoot("ad-page-footer","auto" ,true);
    });
</script>
